<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{%  static 'assets/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{%  static 'assets/css/style.css'  %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Django + MySql | </title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12">{{ html | safe }}</div>
        </div>
    </div>
    {% block content %}{% endblock %}
     <!-- Bootstrap Bundle with Popper -->
<script src="{%  static 'assets/js/bootstrap5.0.0-beta1.bundle.min.js'  %}" ></script>
</body>
</html>