<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{%  static 'assets/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{%  static 'assets/css/style.css'  %}" rel="stylesheet">

    <title>Django + MySql | </title>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Is this really Django With MySql - Together At Last?</h1>
                <h4>Or is there Django / Postreg Regret?</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">{{ html|safe }}</div>
        </div>
    </div>
    {% block content %}{% endblock %}
     <!-- Bootstrap Bundle with Popper -->
<script src="{%  static 'assets/js/bootstrap5.0.0-beta1.bundle.min.js'  %}" ></script>
</body>
</html>