{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {%  if message.text  %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-{{ message.type }}" role="alert">
                {{ message.text }}
              </div>
        </div>        
    </div>
    {%  endif  %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-light bg-dark p-4">{{ heading|title }}</h1>
        </div>
        {% if form %}
        <div class="col-12">
            <div class="col-12 mb-3">
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input class="btn btn-primary" type='submit' name='{{ action }}' value="{{ action }}" >
                </form>
            </div>
        </div>
        {% endif %}
        {% if courses %}
            {% for course in courses %}
            <div class="col-12 mb-3">
                <div class="d-flex flex-row bg-light px-5">
                    <div class="flex-shrink-1 text-warning fw-bold">
                        {% for i in course.rating|make_list %}
                            <span class="d-inline-block m-1 p-1 bg-black rounded-2 fs-6">&starf;&nbsp;</span>
                        {% endfor %}
                    </div>

                    <div class="flex-fill">{{ course.name }}&nbsp;<i>by: {{ course.instructor }}</i></div>
                    <div class="flex-shrink-1"><a class="btn btn-warning mx-1 p-0 btn-sm" href="/courses/update/{{ course.id }}">update</a></div>
                    <div class="flex-shrink-1"><a class="btn btn-danger mx-1  p-0 btn-sm" href="/courses/delete/{{ course.id }}">delete</a></div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}